<div class="container">
  <h2>People List</h2>
  
  <div *ngIf="loading">Loading...</div>
  
  <div *ngIf="error" class="error">{{ error }}</div>
  
  <table *ngIf="!loading && !error && people.length > 0" class="people-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Documento</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of people">
        <td>{{ person.id }}</td>
        <td>{{ person.name }}</td>
        <td>{{ person.age }}</td>
        <td>{{ person.email }}</td>
        <td>{{ person.Documento }}</td>
      </tr>
    </tbody>
  </table>
  
  <div *ngIf="!loading && !error && people.length === 0">
    No people found.
  </div>
</div>